
<div class="main">
    <div>
        <h1><b>russia MUST BE STOPPED!</b></h1>
        <h3><b>English version</b></h3>
        <p>The "official" news in russian federation are all fake and we believe it is better to shut them down!</p>
        <p>Please, just open this page and let it be open on your devices, it will flood the web-sites and pose a huge load on their infrastructure</p>
        <h3><b>Русская версия</b></h3>
        <p>"Официальные" новости в рф - это театр абсурда и мы считаем, что это нужно остановить!</p>
        <p>Пожалуйста, просто откройте эту страницу на своём компьютере и оставтье вкладку открытой, она будет автоматически нагружать сайты российской пропаганды.</p>
        <h3><b>English version</b></h3>
        <p>Офіційні новини в рф - це театр абсурду і ми вважаємо, що це треба зупинити!</p>
        <p>Будь ласка, просто залиште відкритою цю сторінку на своєму комп'ютері щоб вона автоматично навантажувала сайти російської пропаганди.</p>
        
        <h2>If you missed it, <a href="https://www.bbc.com/news/world-europe-60503037">NEWS: Ukraine conflict: Russian forces attack from three sides</a> </h2>
         
    </div>
    <div>
        <button (click)="onStopStart()" class="startBtn">
            {{isProcessing? 'Stop' : 'Start'}}
        </button>
    </div>
    
    <div style="display: flex; flex-direction: row;">
        <textarea [placeholder]="placeholder" #textArea name="Text1" cols="70" rows="10"></textarea>
    <button  (click)="onAddPropagandaSitesClicked(textArea.value); textArea.value=''" class="addBtn">
     Add Propaganda Sites
    </button>
    </div>
    
    <h3>Here is the stats of your session (the links and the number of the requests that were sent from your browser):</h3>
    
    <div>
        <table>
            <thead>
                <tr>
                    <th>siteUrl</th>
                    <th>pendingRequests</th>
                    <th>numberOfCompletedRequests</th>
                    <th>numberOfErrorResponses</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let siteAttackInfo of siteAttackInfos; let idx=index">
                    <td>{{siteAttackInfo.siteUrl}}</td>
                    <td>{{siteAttackInfo.numberOfPendingRequests}}</td>
                    <td>{{siteAttackInfo.numberOfCompletedRequests}}</td>
                    <td>{{siteAttackInfo.numberOfErrorResponses}}</td>
                    <td><button (click)="removeSite(idx)"> remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>